
html {
    height: 90%;
}
html {
    border: solid turquoise;
}
body {
    border: solid 2px tomato;
    margin: 0 auto;
    width: 95%;
    height: 90%;
}
#container {
    width: 100%;
    border: solid;
    height: 300px;
}
.grid {
    border: solid steelblue;
    float: left;
    width: 45%;
    height: 100px;
}
h1 {
    font-size: 24px;
}